.btn{
    &,
    &:link,&:visited{
      text-decoration: none;
      text-transform: uppercase;
      padding: 1.5rem 4rem;
      border-radius: 10rem;
      display: inline-block;
      position: relative;
      font-size: 1.6rem;
    }
    &:hover,&:focus{
      transform: translateY(-.2rem);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
      &::after{
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
      }
    }
    &:active,&:focus{
      outline: none;
      transform: translateY(-1px);
      box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
    }
    &--white{
      background: $color-grey-light-1;
      color: #474747;
      &::after{
        background: $color-grey-light-1;
      }
    }
    &::after{
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 10rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all .2s;
    }
    &--animation{
      animation: buttonBottom .6s ease-out .8s;
      animation-fill-mode: backwards;
    
    }
  }

  .button-text{
    display: inline-block;
    padding: .2rem;
    font-size: 1.5rem;
    color: $color-primary;
    &:link
    ,&:visited{
      // border-bottom: 2px solid $color-primary;
      transition: all .2s;
    }
    &:hover{
      cursor: pointer;
      background-color: $color-primary;
      color: $color-white;
      box-shadow: .2rem .2rem .4rem rgba(0,0,0,0.5);
    }
    &:active{
      transform: translateY(.2rem);
      box-shadow: .1rem .1rem .3rem rgba(0,0,0,0.5);
    }
  }