body{
    font-family: 'Lato', sans-serif;
  }

  .heading-secondary{
    text-transform: uppercase;
    font-size: 3.5rem;
    display: inline-block;
    background-image: linear-gradient(to right ,$color-primary-light,$color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;

    &:hover{
      transform:skew(2deg,1deg);
      text-shadow: .5rem .2rem .7rem rgba(0,0,0,.1);
    }
  }


  .heading-tertiary{
    font-size: 2rem;;
    text-transform: uppercase;
    margin-bottom: 1rem;
    
  }
  .paragraph{
    font-size: 1.2rem;
    &:not(:last-child){
      margin-bottom: 3rem;
    }

  }