//colors

$logo-color:white;
$color-primary:#55c57a;

$color-primary-light:#7ed56f;
$color-primary-dark:#28b485;

$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7730;

$color-tertiary-light:#2998ff;
$color-tertiary-dark:#5643fa;


$color-white:white;
$color-secondary:#c0c0c0;
$color-grey-light-1:#e0e0e0;
$color-grey-light-2:#f7f7f7;




//grid
$max-width:114rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 6rem;



//font
$default-font-size:1.6rem;